<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= targetArticle.title %>
    </title>

    <!-- fontawesome cdn -->
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

    <!-- bootstrap rtl cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- JQuery cdn -->
    <!-- <script src="./js/utility/jquery-3.6.3.min.js"></script> -->
    <script src="http://localhost:1000/js/utility/jquery-3.6.3.min.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="http://localhost:1000/css/post.css">
    <link rel="stylesheet" href="http://localhost:1000/css/main-styles.css">
</head>

<body>

    <div class="container-fluid">


        <!-- navbar -->
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="http://localhost:1000/">News</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="http://localhost:1000/admin/articles">Articles <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:1000/admin/comments">Comments</a>
                        </li>

                    </ul>
                </div>
            </nav>

        </div>

        <!-- main -->
        <div class="container">

            <!-- new article -->
            <div class="row">
                <h6 class="mt-3">create new article</h6>
                <form action="" class="mb-3 mt-2">

                    <div class="form-group mt-3">
                        <label for="titleInput">Title:</label>
                        <input type="text" class="form-control" id="titleInput" placeholder="title"
                            value="<%= targetArticle.title%>">
                    </div>

                    <div class="form-group mt-2">
                        <label for="pageTitleInput">Page Title:</label>
                        <input type="text" class="form-control" id="pageTitleInput" placeholder="page title"
                            value="<%= targetArticle.page_title%>">
                    </div>

                    <div class="form-group mt-2">
                        <label for="summaryInput">Summary:</label>
                        <input type="text" class="form-control" id="summaryInput" placeholder="summary"
                            value="<%= targetArticle.summary%>">
                    </div>

                    <div class="form-group mt-2">
                        <label for="imageInput">Image:</label>
                        <input type="file" class="form-control" id="imageInput" placeholder="image"
                            value="<%= targetArticle.image%>">
                    </div>

                    <div class="form-group mt-2">
                        <label for="descriptionInput">description:</label>
                        <textarea class="form-control" id="descriptionInput" rows="3"
                            placeholder="description"><%= targetArticle.description %></textarea>
                    </div>
                    <button id="saveBtn" class="btn btn-primary mt-3 mb-2 w-100">Save changes</button>
                    <a href="http://localhost:1000/api/v1/private/article/remove/<%= targetArticle._id %>"
                        class="btn btn-danger mt-1 mb-2 w-100">Remove article</a>


                </form>
            </div>
        </div>
    </div>


    <script src="http://localhost:1000/js/updateArticle.js"></script>
    <!-- <script src="./js/home.js"></script> -->
</body>

</html>